body
{
    background-color: #d9f0eb;

}
.head{
    color: #66ee66;text-align: center;background-color: #3c3f34a3;
}
.INPUT{
    margin: 0px 5PX;
}
.click
{
    color: black;padding: 0px 10px;
}
.container
{
  /* color: yellowgreen; */
}
/* .Identify{
    margin: 10px 10px;
} */